/* Styles defined for the desktop or the bigger screen devices*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header Navbar Styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(90deg, #36ab96, #53e8cd, #7f7df9);
    background-color: transparent;
}

.logo {
    padding: 0 5rem;
}

.logo .logo-heading {
    color: #fff;
}

.menu {
    padding: 0 5rem;
}

.hamburger {
    display: none;
    color: #fff;
    font-size: 25px;
}

.cross-icon {
    display: none;
}

.menu .menu-list {
    display: flex;
    list-style: none;
}

.menu-list .menu-list-items {
    padding: 0.5rem 1rem;
}

@media screen and (min-width: 856px) and (max-width: 1024px) {
    .menu-list .menu-list-items {
        padding: 0.5rem 0.3rem;
    }
}

/* Main Hero Section Styles */
.hero {
    background-image: url('th(6).jpg'); /* GIF ka path yahaan daalein */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 3.8rem 0;
    

}

.hero .intro {
    text-align: center;
    margin: 0 5rem;
}

.hero .intro-buttons {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* About section styles */
.about {
    margin: 7.8rem 0;
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, #36ab96, #53e8cd, #7f7df9);
    justify-content: space-between;
    justify-content: space-evenly;
    width: 100%;
    transform: 0.2px;
}

.about .about-text {
    width: 850px;
    color: #fff;
    padding: 5rem 5rem 5rem 5rem;
    text-decoration: yellowgreen;
}

/* education section starts */
.education {
    background: #e5ecfb;
    min-height: 80vh;
  }
  .education .qoute {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    margin-top: 0.5rem;
  }
  .education .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .education .box-container .box {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    margin-top: 2rem;
    overflow: hidden;
    transition: 0.3s;
    background-image: linear-gradient(90deg, #36ab96, #53e8cd, #7f7df9);
  }
  .education .box-container .box:hover {
    transform: scale(1.03);
    box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
  }
  .education .box-container .box .image {
    flex: 1 1 20rem;
    width: 100%;
  }
  .education .box-container .box img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 1 1 70rem;
  }
  .education .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #012970;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
  }
  .education .box-container .box .content p {
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align: left;
  }
  .education h4 {
    font-size: 2rem;
    color: rgb(34, 109, 0);
    text-align: left;
    margin: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
  }
  
  /* education media queries starts*/
  @media screen and (max-width: 600px) {
    .education .box-container .box {
      flex-direction: column;
      width: 100%;
    }
    .education .box-container .box .image {
      width: 100%;
      height: 25rem;
    }
    .education .box-container .box img {
      width: 100%;
    }
    .education .box-container .box .content {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      flex-wrap: wrap;
      flex: 0;
    }
    .education .btns {
      margin-top: 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      flex-wrap: wrap;
    }
  }
  /* education media queries ends*/
  /* education section ends */

/* Experience section styles */
.Experience {
    margin: 7.8rem 0;
    display: flex;
    align-items: center;
    background-image: linear-gradient(90deg, #36ab96, #53e8cd, #7f7df9);
    justify-content: space-between;
    justify-content: space-evenly;
    width: 100%;
}

.Experience .Experience-text {
    width: 850px;
    color: #e2eded;
    padding: 5rem 5rem 5rem 5rem;
}

/* Portfolio section styles */
.portfolio {
    margin: 4.8rem 0;
    padding: 0 5rem;
}

.port-card {
    padding: 0 !important;
    background: none !important;
    border: 2px solid #000;
    animation: 2s;
}

.port-card .image {
    width: 100%;
    animation: 2s;
}

.port-card .image img {
    height: 200px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    animation: 2s;
}

/* Services section styles */
.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5.8rem 0;
    padding: 0 5rem;
}

.my-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 3rem 0;
    animation: 2s;
}

.my-row .my-col {
    text-align: center;
    width: 30%;
    animation: 2s;
    animation-direction: left;

}

.my-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #36ab96, #53e8cd, #7f7df9);
    padding: 1rem;
    animation: 2s;
    animation-direction: left;

}

.icon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #363D73;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 2s;
    animation-direction: left;

}

.icon svg {
    font-size: 50px;
    color: #4016e7;
}
/* experience section starts */
.experience .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .experience .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background: #020133;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2;
    transition: 0.3s;
  }
  .experience .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  /*circles on timeline*/
  .experience .container::after {
    content: "\f0b1";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(255, 255, 255);
    border: 4px solid #6b34c5;
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    color: #02094b;
    font-family: "Font Awesome\ 5 Free";
    transition: 0.3s;
  }
  .experience .left {
    left: 0;
  }
  .experience .right {
    left: 50%;
  }
  /* arrows pointing right */
  .experience .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #f68c09;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #f68c09;
    transition: 0.3s;
  }
  /* arrows pointing left  */
  .experience .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #f68c09;
    border-width: 10px 10px 10px 0;
    background-image: linear-gradient(90deg, #36ab96, #53e8cd, #7f7df9);
    transition: 0.3s;
  }
  .experience .right::after {
    left: -16px;
  }
  .experience .content {
    background-image: linear-gradient(90deg, #36ab96, #53e8cd, #7f7df9);
    position: relative;
    border-radius: 6px;
  }
  .experience .content .tag {
    font-size: 1.3rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
  }
  .experience .content .desc {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
    transition: 0.3s;
  }
  .experience .content .desc h3 {
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.3s;
  }
  .experience .content .desc p {
    font-size: 1.2rem;
  }
  /* view all button */
  .Expriencebtn {
    display: flex;
    justify-content: center;
  }
  .Experience .btn {
    position: relative;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 0.5em;
    transition: 0.5s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    text-align: center;
    transition: 0.3s;
  }
  .Experience .btn span {
    font-weight: 600;
    font-size: 1.7rem;
    font-family: "Nunito", sans-serif;
  }
  .Experience .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .Experience .btn:hover {
    background: #1a047e;
  }
  .Experience .btn:hover i {
    transform: translateX(5px);
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    .experience {
      min-height: 80vh;
    }
    .experience .timeline {
      margin-top: 2rem;
    }
    .experience .timeline::after {
      left: 31px;
      transition: 0.3s;
    }
    .experience .container {
      width: 100%;
      padding-left: 8rem;
      padding-right: 2rem;
      transition: 0.3s;
    }
    .experience .container::after {
      font-size: 2.2rem;
    }
    .experience .container::before {
      left: 61px;
      border: medium solid #f68c09;
      border-width: 10px 10px 10px 0;
      background-image: linear-gradient(90deg, #36ab96, #53e8cd, #7f7df9);
    }
    .experience .left::after {
      left: 15px;
    }
    .experience .right::after {
      left: 15px;
      transition: 0.3s;
    }
    .experience .right {
      left: 0%;
    }
    .morebtn {
      margin-top: 3rem;
      transition: 0.3s;
    }
  }
  /* experience media queries ends */
  /* experience section ends */


/* Contact section styles */
.contact {
    padding: 0 5rem;
}

.contact-content {
    display: flex;
    margin: 3rem 0;
    justify-content: space-between;
    transition: 0.3s;
}

.contact-form-container {
    width: 50%;
    transition: 0.3s;
}

.contact-form {
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.contact-form .form-controls {
    width: 80%;
    padding: 10px 0;
    margin: 1.67rem 0;
    transition: 0.3s;
}

.contact-form .form-btn {
    width: 83%;
    transition: 0.3s;
}

.contact-details {
    width: 50%;
}

/* Footer Styles */
.footer {
  background-image: linear-gradient(90deg, #36ab96, #53e8cd, #7f7df9);
  color: #fff;
    padding: 2rem;
}

.footer-list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 1rem 1rem 0 1rem;
    border-radius: 50%;
    background-image: #bfe2c8;
}

.footer-links {
    font-size: 24px;
    color: #0f0d0d;
    text-decoration: none;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu {
    padding: 0 5rem;
}

.footer-menu .footer-menu-list {
    display: flex;
    list-style: none;
}






/* utility classes */
.greet-heading {
    font-size: 1.3rem;
    font-weight: lighter;
    margin: 0;
    letter-spacing: 1px;
}

.my-heading {
    font-size: 2.5rem;
    margin: 0;
}

.sub-heading {
    margin: 0;
    font-size: 0.8rem;
    color: #ccc;
    font-weight: lighter;
}

.links:hover {
    border-bottom: 2px solid #fff;
}

.links {
    border-bottom: 2px solid transparent;
    transition: all 0.25s;
    padding: 5px;
    text-decoration: none;
    color: #fff;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
}

.common-btn {
    background-color: #35A99C;
    color: #fff;
    border: 2px solid #35A99C;
    transition: all 0.25s;
}

.common-btn:hover {
    background-color: #fff;
    color: #35A99C;
    border: 2px solid #35A99C;
    outline: none;
}

.ghost-btn {
    background-color: #fff;
    color: #35A99C;
    border: 2px solid #35A99C;
    outline: none;
}

.ghost-btn:hover {
    background-color: #35A99C;
    color: #fff;
    transition: all 0.25s;
    border: 2px solid #35A99C;
}

.heading-span {
    font-weight: bolder;
}

.text-center {
    text-align: center;
}

.small-para {
    font-size: 14px;
    color: #fff;
}

.white-text {
    color: #fff;
}

.blue-text {
    color: #363D73;
}
